<h1>Active Quests</h1>
<% @quests.each do |quest| %>
  <%= link_to quest_path(quest) do %>
    <div class="panel">
      <h3><%= quest.title %></h3>
      <%= quest.description %><br />
      <p>Quest begins: <%= quest.start_date %> | Quest ends: <%= quest.end_date %></p>
    </div>
  <% end %>
<% end %>
