<h1><%= @quest.title %></h1>
<div class="panel clearfix">
  <div class="stack button-group right">
    <!-- If leader/author of quest, show the edit/delete buttons -->
    <% if current_user && current_user == @quest.users.first %>
      <%= link_to "Edit Quest", edit_quest_path, class: "tiny button" %>
      <%= link_to "Delete Quest", quest_path(@quest), method: :delete,
        class: "tiny button alert" %>
    <!-- If a member of the quest, show the leave quest button -->
    <% elsif (current_user && current_user.engagements.first != nil && current_user.engagements.first.quest_id == @quest.id) || (current_user && current_user.engagements.last != nil && current_user.engagements.last.quest_id == @quest.id) %>
      <%= link_to "Leave Quest",
        quest_engagement_path(@quest, @engagement), method: :delete,
        class: "tiny button alert" %>
    <!-- If not a member or a leader, show the join quest button -->
    <% else %>
      <%= link_to "Join Quest", quest_engagements_path(@quest),
        method: :post, class: "tiny button success" %>
    <% end %>
  </div>
  <%= @quest.description %><br />
  <p>Quest begins: <%= @quest.start_date %> | Quest ends:
    <%= @quest.end_date %></p>
  <p>Quest Leader: <%= link_to "#{@quest.users.first.first_name} #{@quest.users.first.last_name}", user_path(@quest.users.first.id) %></p>
  <% @finds.each do |find| %>
  <div class="find-panel">
    <%= find.user.first_name %> <%= find.user.last_name %> found the
    <% if find.item.rarity == "ordinary" %>
      <b id="ordinary"><%= find.item.name %></b>
    <% elsif find.item.rarity == "heirloom" %>
      <b id="heirloom"><%= find.item.name %></b>
    <% elsif find.item.rarity == "antiquity" %>
      <b id="antiquity"><%= find.item.name %></b>
    <% else %>
      <b id="relic"><%= find.item.name %></b>
    <% end %>
    <i class="right"><%= find.created_at.to_date %>,
      <%= find.created_at.strftime("%I:%M%p") %></i>
  </div>
  <% end %>
</div>
