<h1><%= @quest.title %></h1>
<div class="panel clearfix">
  <div class="stack button-group right">
    <%= link_to "Edit Quest", edit_quest_path, class: "tiny button" %>
    <%= link_to "Delete Quest", quest_path(@quest), method: :delete,
      class: "tiny button alert" %>
  </div>
  <%= @quest.description %><br />
  <p>Quest begins: <%= @quest.start_date %> | Quest ends: <%= @quest.end_date %></p>
  <p>List of quest members that links to their profiles</p>
</div>
