<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<div class="panel radius row" id="equip">
  <div class="small-4 columns panel radius text-center">
    <%= image_tag("avatar1.png") %>
  </div>
  <div class="small-8 columns panel radius" id="equipped"
    ondrop="drop(event)" ondragover="allowDrop(event)">
    <h3 class="text-center"><strong>Equipped Items</strong></h2>
      <br />
    <% id_num = 1 %>
    <% @items.each do |item| %>
      <% if item.equipped? %>
        <div class="find-panel radius equipped" draggable="true"
          id="<%= id_num %>" ondragstart="drag(event)">
        <% id_num += 1 %>
        <% if item.rarity == "ordinary" %>
          <b id="ordinary"><%= item.name %></b>
          <%= link_to "Unequip", item_path(item), method: :patch,
            class: "tiny button secondary right" %>
        <% elsif item.rarity == "heirloom" %>
          <b id="heirloom"><%= item.name %></b>
          <%= link_to "Unequip", item_path(item), method: :patch,
            class: "tiny button secondary right" %>
        <% elsif item.rarity == "antiquity" %>
          <b id="antiquity"><%= item.name %></b>
          <%= link_to "Unequip", item_path(item), method: :patch,
            class: "tiny button secondary right" %>
        <% else %>
          <b id="relic"><%= item.name %></b>
          <%= link_to "Unequip", item_path(item), method: :patch,
            class: "tiny button secondary right" %>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="small-12 columns panel radius" ondrop="drop(event)"
    ondragover="allowDrop(event)">
    <h3 class="text-center"><strong>Unequipped Items</strong></h2>
    <% id_num = 1 %>
    <% @items.each do |item| %>
      <% if item.equipped? == false %>
        <div class="find-panel radius unequipped" draggable="true"
          id="<%= id_num %>" ondragstart="drag(event)">
        <% id_num += 1 %>
          <% if item.rarity == "ordinary" %>
            <b id="ordinary"><%= item.name %></b>
            <%= link_to "Equip", item_path(item), method: :patch,
              class: "tiny button success right" %>
          <% elsif item.rarity == "heirloom" %>
            <b id="heirloom"><%= item.name %></b>
            <%= link_to "Equip", item_path(item), method: :patch,
              class: "tiny button success right" %>
          <% elsif item.rarity == "antiquity" %>
            <b id="antiquity"><%= item.name %></b>
            <%= link_to "Equip", item_path(item), method: :patch,
              class: "tiny button success right" %>
          <% else %>
            <b id="relic"><%= item.name %></b>
            <%= link_to "Equip", item_path(item), method: :patch,
              class: "tiny button success right" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br />
<br />
