<h1>All the Items</h1>
<table>
  <thead>
    <tr>
      <th width="700"><%= sortable "name" %></th>
      <th width="100" class="text-center"><%= sortable "rarity" %></th>
      <th width="100" class="text-center"><%= sortable "value" %></th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
    <% if item.rarity == "ordinary" %>
      <td id="ordinary"><b><%= item.name %><b></td>
    <% elsif item.rarity == "heirloom" %>
      <td id="heirloom"><b><%= item.name %></b></td>
    <% elsif item.rarity == "antiquity" %>
      <td id="antiquity"><b><%= item.name %></b></td>
    <% else %>
      <td id="relic"><b><%= item.name %></b></td>
    <% end %>
      <td class="text-center"><%= item.rarity.capitalize %></td>
      <td class="text-center"><%= item.value %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @items %><br />
