<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Montserrat:400,700" %>
  <title>LaunchLoot</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation"
    data-options="is_hover: false">

    <section class="top-bar-section">
      <ul class="left">
        <li class="name has-dropdown">
          <h1><a href="#">LaunchLoot</a></h1>
          <ul class="dropdown">
            <li><%= link_to 'Quests', quests_path %></li>
            <% if current_user %>
              <li><%= link_to 'Profile',
                user_path(current_user) %></li>
            <% end %>
            <li><%= link_to 'Items', items_path %></li>
            <li><%= link_to 'Home', root_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash <%= key %> alert-box" data-alert>
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <%- end -%>

  <div class="row page-wrap">
    <div class="small-12 columns">
      <%= yield %>
    </div>
  </div>
    <div class="small-12 columns footer">
      <footer>LaunchLoot developed at
        <%= image_tag("launchlogo.png") %> by Brian Hogue © 2015 &nbsp; | &nbsp; Check out the repo on <%= link_to "GitHub", "https://github.com/syzygy333/LaunchLootRails" %>
      </footer>
    </div>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
